<% content_for(:title, "Edit Lesson | Learn How to Program") %>

<h1>Edit <%= @lesson.name %></h3>


<%= render('/layouts/errors', :object => @lesson) %>


<form action="/lessons/<%= @lesson.id %>"method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('layouts/form', object: @sections) %>

  <button>Update this Lesson</button>
</form>

<br><br>
<p><a href="/lessons">Table of Contents</a></p>
