<h2> Learn How to Program </h2>

<h3>Lesson List</h3>

<div>
  <% @lessons.each do |lesson| %>
    <p><%= lesson.number%>. <a href="/lessons/<%= lesson.id %>"> <%= lesson.name %></a></p>
  <% end %>
</div>
