<% content_for(:title, "Table of Contents | Learn How to Program") %>


<h2> Table of Contents </h2>

<div class="container-fluid">
  <div class="row">
    <ul>
    <% @sections.each do |section| %>
      <li><p><%= section.name %></p></li>
      <ul>
        <% @lessons_ordered.each do |lesson| %>
          <% if section.id == lesson.section_id %>
            <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></li>
            <% end %>
        <% end %>
      </ul>
    <% end %>
    </ul>
  </div>
</div>
