<% content_for(:title, "Table of Contents | Learn How to Program") %>


<h2> Table of Contents </h2>

<div class="container-fluid">
  <div class="row">
    <% @lessons_ordered.each do |lesson| %>
      <p><%= lesson.number%>. <a href="/lessons/<%= lesson.id %>"> <%= lesson.name %></a></p>
    <% end %>
  </div>
</div>
